{% load static %}
<footer class="footer py-4">
    <hr class="my-4"> <!-- Horizontal line added -->
    <div class="container">
        <div class="footer-content text-center">
            <p>&copy; 2024 Your Website Name. All rights reserved.</p>
            
            <nav class="footer-nav mb-3">
                <a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="text-primary mx-2">Privacy Policy</a> |
                <a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="text-primary mx-2">Terms of Service</a> |
                <a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="text-primary mx-2">Contact Us</a>
            </nav>
            
            <div class="footer-social mb-3">
                <h3 class="text-muted">Follow Us</h3>
                <a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="text-primary mx-3">Facebook</a>
                <a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="text-primary mx-3">Twitter</a>
                <a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="text-primary mx-3">Instagram</a>
            </div>
        </div>
    </div>
</footer>
