<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="position: relative; z-index: 1030;">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">

      {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
        {% if user.user_type == 'provider' %}
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'service' %}">Job Offers</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'job_status' %}">Job Status</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'active_schedule' %}">Active Schedule</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'wallet' %}">Wallet</a></li>
          
        {% else %}
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'post_job' %}">Post a Job</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'service' %}">Job Offers</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'requests' %}">Requests</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'scheduled_services' %}">Scheduled Services</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'provider' %}">Providers</a></li>
        {% endif %}
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'about_us' %}">About</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
      {% else %}
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'service' %}">Services</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="{% url 'provider' %}">Providers</a></li>
      {% endif %}
    </ul>

    <!-- Right side auth links -->
    <div class="ms-auto d-flex align-items-center">
      <ul class="navbar-nav me-auto">
        {% if user.is_authenticated %}
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>
          <li class="nav-item me-3"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
