
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'about_us' %}">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'service' %}">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'help' %}">Help</a>
      </li>


    </ul>
    <div class="right_nab">
      <ul class="navbar-nav">
                      <!-- Right side menu items (3 items) -->
                      <li class="nav-item">
                        <a class="nav-link mr-3" href="{% url 'login'%}">Log In</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{% url 'signup'%}">Sign Up</a>
                      </li>

      </ul>

    </div>
  </div>
</nav>

