{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper pb-5">

		<div class="container-fluid p-0">
			<div class="home-image p-0" style="background-image:url('Bg_image.jpg')">

                    <div class="search-bar">
                        <input type="text"  aria-label="Search">
                        <button type="submit">Search</button>
                    </div>

				<div class="home-content">
					<h1> Find Reliable, On-Demand Services Anytime, Anywhere .</h1><br>
					<h5>74/A Green Rd, Dhaka 1205</h5>
					<a href="https://www.facebook.com/aamira.yamin.1?mibextid=ZbWKwL" class="btn btn-light mt-2">Contact us</a>
				</div>
			</div>
		</div><br>

		<div class="mt-5 container bg-customg">

			<h2 class="text-center">Category</h2><br><br>

			<div class="mt-2 row align-items-center">
				<div class="col-md-3">
                    <div class="card">
                        <div class="cat-img mt-2" style="background-image:url('Card_image.jpg');">
                        </div>
                        <div class="text-center mt-3">
                            <h5>Driving</h5>
                            <p class="text-muted fs-16">We offer you the best services.</p>
                        </div>
                    </div>
				</div>

				<div class="col-md-3">
                    <div class="card">
                        <div class="cat-img mt-2" style="background-image:url('Card_image.jpg');">
                        </div>
                        <div class="text-center mt-3">
                            <h5> Housekeeping</h5>
                            <p class="text-muted fs-16">We offer you the best services..</p>
                        </div>
                    </div>
				</div>

				<div class="col-md-3">
                    <div class="card">
                        <div class="cat-img mt-2" style="background-image:url('Card_image.jpg');">
                        </div>
                        <div class="text-center mt-3">
                            <h5>Security</h5>
                            <p class="text-muted fs-16">We offer you the best services.</p>
                        </div>
                    </div>
				</div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="cat-img mt-2" style="background-image:url('Card_image.jpg');">
                        </div>
                        <div>
                            <div class="text-center mt-3">
                                <h5>Electrician</h5>
                                <p class="text-muted fs-16">We offer you the best services.</p>
                            </div>
                    </div>
				</div>
			</div>
            </div><br><br>
			<div class="text-center mt-3">
				<a href="{% url 'service' %}" class="btn btn-light">See More <i class="bi bi-arrow-right ml-1"></i></a>
			</div><br>
        </div><br><br><br>

{% endblock %}
</div>