{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3>Scheduled Services</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Provider Name</th>
                <th>Provider Contact</th>
            </tr>
        </thead>
        <tbody>
            {% for item in services %}
                <tr>
                    <td>{{ item.service.service_name }}</td>
                    <td>{{ item.service.location }}</td>
                    <td>{{ item.service.service_date }}</td>
                    <td>{{ item.provider.provider_name }}</td>
                    <td>{{ item.provider.contact_info }}</td>
                    <td>
                        <a href="{% url 'rate_provider' item.provider.id item.service.id %}" class="btn btn-info btn-sm">Rate Service</a>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
