{% extends 'base.html' %}
{% load static %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Rate per hour</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
  {% for p in service %}
    <tr>

      <td>{{p.service_id}}</td>
      <td>{{p.service_name}}</td>
      <td>{{p.rate_per_hour}}</td>
        <td>{{p.duration}}</td>

    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}